html {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}
body {
    margin: 0;
}
p {
    margin-right: 40px;
}
h1 {
    margin: 0px 400px;
    text-align: center;
}

li{
    list-style-type: none;
    margin-right: 35px;
}
button.redondo {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: 0px 20px;
    height: 32px;
}
div#introduction-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

div#header {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 10px 46px 8px;
    justify-content: space-between;
}

ul#header-right {
    display: flex;
    align-items: center;
}

div#introduction {
    padding: 48px;
}

.redondo-left {
    margin-left: 14px;
}

.iconos {
    margin-right: 20x;
}

.icono {
    margin-right: 0;
}