html {
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.3rem;
    margin: 0;
}

h1 {
    text-align: center;
}

li {
    list-style-type: none;
    margin-right: 3.5rem;
}

li:last-of-type {
    margin-right: 0;
}

button.redondo {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    padding: .9rem 2rem;
    height: 3.6rem;
    display: inline-block;
    font-size: 1.2rem;
}

div#introduction-text {
    margin: 0 auto;
    width: 60rem;
}

div#introduction-actions {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

div#header {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding: 2rem 3.9rem 1.7rem;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

ul#header-right {
    display: flex;
    align-items: center;
}

div#introduction {
    background-color: white;

    padding-bottom: 9rem;
}

button.redondo-left {
    margin-left: 14px;
    border: 2px solid rgb(107,83,240);
}

button.redondo-left span,
button.redondo-left i {
    color: rgb(107,83,240);
}

.iconos {
    margin-right: 20px;
}

.icono {
    margin-right: 0;
}

.fa-brands {
    font-size: 1.4rem;
}

span {
    position: relative;
    display: inline-block;
    vertical-align: center;
}

i {
    font-size: 1.2rem;
    display:inline-block;
    vertical-align: center;
}

.texto-principal {
    font-size: 2.8rem;
    font-weight: 600;
    margin: 0 7px;
    padding: 8rem 0 1rem 0;
}

.fondo-fundacion {    
    max-width: 100%;
    height: calc(100vh -80px);
    background-repeat: no-repeat;
    position: fixed;
    top: -25rem;
    z-index: -1;
}

div#impacto-section {
    background-color: #201b24;
    color: #FFFFFF;
}

div#transparente {
    background-color: transparent;
    color: transparent;    
    width: 50rem;
    height: 50rem;
    z-index: 100;
}

div#programas {
    background-color: #FFFFFF;
}

div#impacto-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 5rem;
    padding-top: 12rem;
    padding-bottom: 10rem;
}

.impacto-left {
    width: 30%;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.impacto-left > h2 {
    font-size: 3rem;
    padding-bottom: 2rem;
}

.impacto-right {
    font-size: 1.4rem;
    width: 30%;
    display: flex;
    gap: 5rem;
}

.impacto-numeros {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.numeros {
    font-size: 5rem;
    display: flex;
    align-items: center;
}

.numeros > span {
    font-size: 3rem;
    color: rgb(107,83,240);
    align-items: center;
}

span.texto {
    color: rgb(140, 147, 156);
}